@charset "UTF-8";
/* width */
::-webkit-scrollbar {
  width: 0.7vw;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--menue);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--border);
}

.app {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.app .chat {
  background: var(--background);
  font-size: 12px;
  max-height: 100vh;
}
.app .chat .chat_header {
  display: flex;
  justify-content: space-between;
}
.app .chat .chat_header .logo {
  width: 130px;
  height: 120px;
  margin: auto 3vw;
}
.app .chat .chat_header .chat_headerInfo {
  display: flex;
  flex-direction: column;
}
.app .chat .chat_header .chat_headerInfo .avatar {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.app .chat .chat_header .chat_headerInfo h3 {
  color: var(--text-primary);
  margin: 0 auto;
}
.app .chat .chat_header .chat_headerInfo section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  margin: auto;
}
.app .chat .chat_header .chat_headerInfo section button {
  flex-direction: row;
  border: none;
  text-transform: uppercase;
  background-color: inherit;
}
.app .chat .chat_header .chat_headerInfo section button .logoutBtn {
  width: 20px;
  height: 20px;
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 10px;
}
.app .chat .chat_header .chat_headerInfo section button:hover {
  cursor: pointer;
  opacity: 0.5;
}
.app .chat .chat_header .chat_headerInfo section .darkMode img {
  width: 20px;
  height: 20px;
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 10px;
}
.app .chat .menu {
  display: none;
}
.app .chat .sidebar {
  display: flex;
  width: 300px;
  background-color: var(--sidebar);
  border-right: 2px solid var(--border);
  flex-direction: column;
  height: initial;
  color: var(--text-primary);
}
.app .chat .sidebar .rooms {
  text-align: center;
}
.app .chat .sidebar .rooms p {
  font-size: 1.5em;
  font-weight: bold;
  background-color: var(--menue);
  padding: 10px 0;
  margin-top: 0;
}
.app .chat .sidebar .rooms ul {
  padding: 0;
  margin: 0;
}
.app .chat .sidebar .rooms ul li {
  margin-top: 15px;
  list-style: none;
  display: block;
  font-size: 15px;
}
.app .chat .sidebar .rooms ul li:hover {
  font-weight: bold;
  cursor: pointer;
}
.app .chat .sidebar .rooms ul .icon-notification {
  color: #b91646;
  padding-left: 5px;
}
.app .chat .sidebar .user-online-list {
  border-top: 1px solid gray;
  margin-top: 10vh;
}
.app .chat .sidebar .user-online-list p {
  font-size: 1.5em;
  font-weight: bold;
  background-color: var(--menue);
  padding: 10px 0;
  margin-top: 0;
  text-align: center;
}
.app .chat .sidebar .user-online-list ul {
  padding-left: 25px;
  list-style: none;
  overflow-y: scroll;
}
.app .chat .sidebar .user-online-list ul li {
  padding: 5px 0;
}
.app .chat .sidebar .user-online-list ul li:hover {
  font-weight: bold;
  cursor: pointer;
}
.app .chat .sidebar .user-online-list ul li::before {
  content: "• ";
  color: red;
  /* or whatever color you prefer */
}
.app .chat .sidebar .user-online-list ul li .message-notification {
  background-color: red;
  padding: 4px;
  border-radius: 20%;
  margin-left: 5px;
  text-align: center;
}
.app .chat .container {
  display: flex;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  height: 85vh;
}
.app .chat .container legend {
  margin: auto;
  margin-bottom: -10px;
  font-size: 18px;
  color: var(--text-primary);
  z-index: 1;
  background-color: var(--background);
}
.app .chat .container .chat-box {
  display: flex;
  flex: auto;
  flex-direction: column;
}
.app .chat .container .chat-box .messages-box {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  overflow-y: scroll;
  overflow-x: hidden;
  margin: 0px;
  padding: 10px;
  height: 85vh;
}
.app .chat .container .chat-box .messages-box .myMessage {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}
.app .chat .container .chat-box .messages-box .myMessage .messages {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.app .chat .container .chat-box .messages-box .myMessage .messages .messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 5px;
}
.app .chat .container .chat-box .messages-box .myMessage .messages .msg_name {
  padding: 0;
  margin: 5px 0;
  color: var(--text-primary);
}
.app .chat .container .chat-box .messages-box .myMessage .messages .msg_name .messageText {
  background-color: var(--myMessage);
  padding: 10px;
  margin-top: 0;
  border-radius: 10px;
  color: black;
  min-width: 100px;
  min-height: 30px;
  font-size: 14px;
}
.app .chat .container .chat-box .messages-box .myMessage .messageDetails {
  font-size: 10px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: right;
  color: var(--myMessageDetails);
}
.app .chat .container .chat-box .messages-box .message {
  display: flex;
  align-items: center;
}
.app .chat .container .chat-box .messages-box .message .messages {
  display: flex;
  align-items: center;
}
.app .chat .container .chat-box .messages-box .message .messages .messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 5px;
}
.app .chat .container .chat-box .messages-box .message .messages .msg_name {
  margin: 10px 0;
  color: var(--text-primary);
}
.app .chat .container .chat-box .messages-box .message .messages .msg_name .messageText {
  background-color: #dfd8ca;
  padding: 10px;
  margin-top: 0;
  border-radius: 10px;
  color: black;
  min-width: 100px;
  font-size: 14px;
}
.app .chat .container .chat-box .messages-box .message .messageDetails {
  font-size: 10px;
  color: #13120e;
  margin-top: 10px;
  margin-left: 20px;
  text-align: right;
  color: #6e6161;
}
.app .chat .container .footer-chat-box {
  display: flex;
  align-items: center;
  height: 64px;
  border-top: 1px solid gray;
  padding: 0 20px;
}
.app .chat .container .footer-chat-box .picker {
  position: absolute;
  margin-bottom: 380px;
}
.app .chat .container .footer-chat-box .picker .emoji-picker-react {
  width: 450px;
}
.app .chat .container .footer-chat-box .emoji {
  width: 2em;
  height: 2em;
  color: gray;
}
.app .chat .container .footer-chat-box .emoji:hover {
  cursor: pointer;
  color: black;
}
.app .chat .container .footer-chat-box form {
  display: flex;
  width: 100%;
}
.app .chat .container .footer-chat-box form input {
  flex: auto;
  border-radius: 30px;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid gray;
  background-color: #fdfdfd;
}
.app .chat .container .footer-chat-box form button {
  border: none;
  font-size: 20px;
  color: var(--text-primary);
  background-color: inherit;
}
.app .chat .container .footer-chat-box form button:hover {
  cursor: pointer;
  color: black;
}
@media (max-width: 640px) {
  .app .chat .sidebar {
    display: none;
  }
  .app .chat .menu {
    overflow: hidden;
    background-color: #105652;
    display: flex;
    justify-content: space-between;
  }
  .app .chat .menu .rooms_Dropdown {
    overflow: hidden;
  }
  .app .chat .menu .rooms_Dropdown .dropBtn {
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    border: none;
  }
  .app .chat .menu .rooms_Dropdown:hover {
    background-color: peru;
  }
  .app .chat .menu .rooms_Dropdown:hover .dropdown-content {
    display: block;
  }
  .app .chat .menu .rooms_Dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #dfd8ca;
    line-height: 30px;
    width: 90px;
    z-index: 1;
  }
  .app .chat .menu .rooms_Dropdown .dropdown-content ul {
    text-align: left;
    padding: 0 10px;
  }
  .app .chat .menu .rooms_Dropdown .dropdown-content ul .icon-notification {
    color: #b91646;
    padding-left: 5px;
  }
  .app .chat .menu .rooms_Dropdown .dropdown-content ul li {
    list-style: none;
  }
  .app .chat .menu .rooms_Dropdown .dropdown-content ul li:hover {
    font-weight: bold;
  }
  .app .chat .menu .onlineUsers_Dropdown {
    overflow: hidden;
  }
  .app .chat .menu .onlineUsers_Dropdown .dropBtn {
    font-size: 16px;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    border: none;
  }
  .app .chat .menu .onlineUsers_Dropdown:hover {
    background-color: #b91646;
  }
  .app .chat .menu .onlineUsers_Dropdown:hover .dropdown-content {
    display: block;
  }
  .app .chat .menu .onlineUsers_Dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #dfd8ca;
    line-height: 30px;
    width: 90px;
    z-index: 1;
    max-height: 40%;
    overflow-y: scroll;
  }
  .app .chat .menu .onlineUsers_Dropdown .dropdown-content li {
    list-style: none;
  }
  .app .chat .menu .onlineUsers_Dropdown .dropdown-content:hover {
    background-color: #b91646;
  }
  .app .chat .container {
    max-height: 80vh;
  }
  .app .chat .container .chat-box {
    display: flex;
  }
  .app .chat .container .chat-box .messages-box {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .app .chat .picker {
    position: absolute;
    margin-bottom: 380px;
  }
  .app .chat .picker .emoji-picker-react {
    height: 320px;
    max-width: 250px;
  }
}/*# sourceMappingURL=chat.css.map */