@charset "UTF-8";
/* width */
::-webkit-scrollbar {
  width: 0.7vw;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(102, 105, 102, 0.301);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 149, 148, 0.705);
}

.chat {
  background: var(--background);
  font-size: 12px;
  height: 100vh;
}

.chat .chat_header {
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 20px;
}

.chat .chat_header .chat_headerInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 10px 0 0 10px;
}

.chat .chat_header .chat_headerInfo .avatar {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  padding: 0 10px 10px 10px;
}

.chat .chat_header .chat_headerInfo h1 {
  color: var(--text-primary);
  margin: 0 auto;
  padding: 5px;
}

.chat .chat_header .chat_headerBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0;
  margin: 10px 10px 0 20px;
}

.chat .chat_header .chat_headerBtn button {
  display: block;
  border: none;
  background-color: inherit;
  padding: 0;
}

.chat .chat_header .chat_headerBtn button .logoutBtn {
  width: 20px;
  height: 20px;
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 10px;
  margin: 0;
}

.chat .chat_header .chat_headerBtn button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.chat .chat_header .chat_headerBtn .darkMode img {
  width: 20px;
  height: 20px;
  border: 1px solid var(--border);
  padding: 5px;
  border-radius: 10px;
  margin: 5px 10px;
}

.chat .chat_header .chat_headerBtn .darkMode:hover {
  cursor: pointer;
  opacity: 0.5;
}

.chat .menu {
  display: none;
}

.chat .sidebar {
  margin: 15px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
  height: initial;
  background-color: var(--sidebar);
  color: var(--text-primary);
  border-radius: 15px;
  border: 1px solid var(--border);
}

.chat .sidebar .roomsList {
  padding: 5px;
  margin: 5px;
  border-bottom: 2px solid #aca9a9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: "#";
}

.chat .sidebar .roomsList li {
  padding: 5px;
  margin: 5px 22px;
  font-size: 15px;
}

.chat .sidebar .roomsList li:hover {
  color: #05c505;
  font-weight: bold;
  cursor: pointer;
}

.chat .sidebar .roomsList .icon-notification {
  color: #b91646;
  padding-left: 5px;
}

.chat .sidebar .onlineList {
  padding: 5px 5px 5px 15px;
  margin: 5px;
  overflow-y: scroll;
}

.chat .sidebar .onlineList li {
  list-style: none;
  font-size: 15px;
  padding: 5px;
  margin: 5px;
}

.chat .sidebar .onlineList li:hover {
  color: #05c505;
  font-weight: bold;
  cursor: pointer;
}

.chat .sidebar .onlineList li::before {
  content: "●  ";
  color: #05c505;
}

.chat .sidebar .onlineList li .message-notification {
  background-color: red;
  padding: 4px;
  border-radius: 20%;
  margin-left: 5px;
  text-align: center;
}

.chat .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 20px;
  padding: 0;
  height: 90vh;
}

.chat .container .chat-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat .container .chat-box .messages-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 5px 5px 5px;
  margin: 6px 10px 8px 0;
  height: 85vh;
  background-color: var(--sidebar);
  border-radius: 15px;
  border: 1px solid var(--border);
  background-image: var(--bg);
  background-size: 10%;
}

.chat .container .chat-box .messages-box legend {
  margin: auto;
  font-size: 16px;
  color: var(--text-primary);
  z-index: 1;
}

.chat .container .chat-box .messages-box .myMessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.chat .container .chat-box .messages-box .myMessage .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat .container .chat-box .messages-box .myMessage .messages .messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-left: 5px;
}

.chat .container .chat-box .messages-box .myMessage .messages .msg_name {
  padding: 0;
  margin: 5px 0;
  color: var(--text-primary);
  margin-left: 20px;
}

.chat .container .chat-box .messages-box .myMessage .messages .msg_name .messageText {
  background-color: var(--myMessage);
  padding: 10px;
  margin-top: 0;
  border-radius: 10px;
  color: var(--myMessageText);
  max-width: 600px;
  min-width: 100px;
  min-height: 30px;
  font-size: 14px;
  word-break: break-all;
}

.chat .container .chat-box .messages-box .myMessage .messageDetails {
  font-size: 10px;
  margin-top: 10px;
  margin-left: 20px;
  text-align: right;
  color: var(--myMessageDetails);
}

.chat .container .chat-box .messages-box .message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat .container .chat-box .messages-box .message .messages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat .container .chat-box .messages-box .message .messages .messageImg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 5px;
}

.chat .container .chat-box .messages-box .message .messages .msg_name {
  margin: 10px 0;
  color: var(--text-primary);
}

.chat .container .chat-box .messages-box .message .messages .msg_name .messageText {
  background-color: #dfd8ca;
  padding: 10px;
  margin-top: 0;
  border-radius: 10px;
  color: black;
  min-width: 100px;
  font-size: 14px;
}

.chat .container .chat-box .messages-box .message .messageDetails {
  font-size: 10px;
  color: #13120e;
  margin-top: 10px;
  margin-left: 20px;
  text-align: right;
  color: #6e6161;
}

.chat .container .footer-chat-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  background-color: var(--sidebar);
  border-radius: 15px;
  border: 1px solid var(--border);
  padding: 5px 20px;
  margin: 10px 10px 17px 0;
}

.chat .container .footer-chat-box form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.chat .container .footer-chat-box form .picker {
  position: absolute;
  margin-top: -340px;
}

.chat .container .footer-chat-box form .picker .emoji-picker-react {
  width: 500px;
  border-radius: 15px;
}

.chat .container .footer-chat-box form .emoji {
  width: 2em;
  height: 2em;
  margin: 2px;
  padding-top: 3px;
  color: gray;
}

.chat .container .footer-chat-box form .emoji:hover {
  cursor: pointer;
  color: #05c505;
}

.chat .container .footer-chat-box form input {
  -webkit-box-flex: 1;
      -ms-flex: auto;
          flex: auto;
  border-radius: 30px;
  padding: 10px;
  margin: 0 10px;
  font-size: 15px;
  border: 1px solid gray;
  background-color: #fdfdfd;
}

.chat .container .footer-chat-box form button {
  border: none;
  font-size: 20px;
  color: var(--text-primary);
  background-color: inherit;
}

.chat .container .footer-chat-box form button:hover {
  cursor: pointer;
  color: #05c505;
}

@media (max-width: 640px) {
  .chat .sidebar {
    display: none;
  }
  .chat .menu {
    overflow: hidden;
    background-color: var(--sidebar);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90vw;
    text-align: center;
    border-radius: 15px;
    border: 1px solid var(--border);
    margin: auto;
    padding: 1vh 0;
  }
  .chat .menu .rooms_Dropdown {
    overflow: hidden;
    width: 50%;
    z-index: 2;
    cursor: pointer;
  }
  .chat .menu .rooms_Dropdown .dropBtn {
    font-size: 16px;
    color: var(--text-primary);
  }
  .chat .menu .rooms_Dropdown:hover .dropdown-content {
    display: block;
  }
  .chat .menu .rooms_Dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--sidebar);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid var(--border);
    border-top: none;
    line-height: 30px;
    width: 44.4%;
    z-index: 1;
  }
  .chat .menu .rooms_Dropdown .dropdown-content ul {
    text-align: center;
    padding: 0 10px;
  }
  .chat .menu .rooms_Dropdown .dropdown-content ul .icon-notification {
    color: #b91646;
    padding-left: 5px;
  }
  .chat .menu .rooms_Dropdown .dropdown-content ul li {
    list-style: none;
    color: var(--text-primary);
  }
  .chat .menu .rooms_Dropdown .dropdown-content ul li:hover {
    font-weight: bolder;
  }
  .chat .menu .onlineUsers_Dropdown {
    overflow: hidden;
    width: 50%;
    z-index: 2;
    cursor: pointer;
  }
  .chat .menu .onlineUsers_Dropdown .dropBtn {
    font-size: 16px;
    color: var(--text-primary);
  }
  .chat .menu .onlineUsers_Dropdown:hover .dropdown-content {
    display: block;
  }
  .chat .menu .onlineUsers_Dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #dfd8ca;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    line-height: 30px;
    width: 40%;
    max-height: 40%;
    overflow-y: scroll;
    width: 44.4%;
    border: 1px solid var(--border);
    background-color: var(--sidebar);
    padding-left: 0;
    margin-left: 0;
    border-top: none;
  }
  .chat .menu .onlineUsers_Dropdown .dropdown-content ul {
    text-align: left;
  }
  .chat .menu .onlineUsers_Dropdown .dropdown-content ul li {
    list-style: none;
    color: var(--text-primary);
  }
  .chat .menu .onlineUsers_Dropdown .dropdown-content ul:hover {
    font-weight: bolder;
  }
  .chat .container {
    max-height: 85vh;
  }
  .chat .container .chat-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .chat .container .chat-box .messages-box {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .chat .picker {
    position: absolute;
    margin-bottom: 380px;
  }
  .chat .picker .emoji-picker-react {
    height: 320px;
    max-width: 250px;
  }
}
/*# sourceMappingURL=chat.css.map */