$a: #b91646;
$b: #dfd8ca;
$c: #fbf3e4;
$d: #12704c;
/* width */
::-webkit-scrollbar {
  width: 0.7vw;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(102, 105, 102, 0.301);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 149, 148, 0.705);
}

.chat {
  background: var(--background);
  font-size: 12px;
  height: 100vh;

  .chat_header {
    padding-bottom: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
    .chat_headerInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0;
      margin: 10px 0 0 10px;

      .avatar {
        width: 50px;
        height: 50px;
        margin: 0 auto;
        padding: 0 10px 10px 10px;
      }
      h1 {
        color: var(--text-primary);
        margin: 0 auto;
        padding: 5px;
      }
    }

    .chat_headerBtn {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 0;
      margin: 10px 10px 0 20px;
      button {
        display: block;
        border: none;
        background-color: inherit;
        padding: 0;
        .logoutBtn {
          width: 20px;
          height: 20px;
          border: 1px solid var(--border);
          padding: 5px;
          border-radius: 10px;
          margin: 0;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
      .darkMode {
        img {
          width: 20px;
          height: 20px;
          border: 1px solid var(--border);
          padding: 5px;
          border-radius: 10px;
          margin: 5px 10px;
        }
        &:hover {
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }
  }

  //   border: 1px solid red;

  .menu {
    display: none;
  }
  .sidebar {
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: initial;
    background-color: var(--sidebar);
    color: var(--text-primary);
    border-radius: 15px;
    border: 1px solid var(--border);

    .roomsList {
      padding: 5px;
      margin: 5px;
      border-bottom: 2px solid rgb(172, 169, 169);
      display: flex;
      flex-direction: column;
      list-style-type: "#";
      li {
        padding: 5px;
        margin: 5px 22px;
        //list-style: none;
        //display: block;
        font-size: 15px;

        &:hover {
          color: rgb(5, 197, 5);
          font-weight: bold;
          cursor: pointer;
        }
      }

      .icon-notification {
        color: #b91646;
        padding-left: 10px;
      }
    }
    .onlineList {
      padding: 5px 5px 5px 15px;
      margin: 5px;
      overflow-y: scroll;

      li {
        list-style: none;
        font-size: 15px;
        padding: 5px;
        margin: 5px;
        &:hover {
          color: rgb(5, 197, 5);
          font-weight: bold;
          cursor: pointer;
        }
        &::before {
          content: "●  ";
          color: rgb(5, 197, 5);
        }

        .message-notification {
          font-size: 10px;
          color: $a;
          border: 1px solid $a;
          border-radius: 50%;
          margin: 0 0 10px 10px;
          padding: 0 3px;
          text-align: center;
        }
      }
    }
  }

  .container {
    display: flex;
    box-sizing: border-box;
    margin: 0 20px;
    padding: 0;
    height: 90vh;

    .chat-box {
      display: flex;
      flex: auto;
      flex-direction: column;

      .messages-box {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        overflow-y: scroll;
        overflow-x: hidden;
        padding: 10px 5px 5px 5px;
        margin: 6px 10px 8px 0;
        height: 85vh;
        background-color: var(--sidebar);
        border-radius: 15px;
        border: 1px solid var(--border);
        background-image: var(--bg);
        background-size: 10%;

        legend {
          margin: auto;
          font-size: 16px;
          color: var(--text-primary);
          z-index: 1;
        }
        .myMessage {
          display: flex;
          align-items: center;
          flex-direction: row-reverse;
          .messages {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            .messageImg {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
              margin-left: 5px;
            }
            .msg_name {
              padding: 0;
              margin: 5px 0;
              color: var(--text-primary);
              margin-left: 20px;

              .messageText {
                background-color: var(--myMessage);
                padding: 10px;
                margin-top: 0;
                border-radius: 10px;
                color: var(--myMessageText);
                max-width: 600px;
                min-width: 100px;
                min-height: 30px;
                font-size: 14px;
                word-break: break-all;
              }
            }
          }
          .messageDetails {
            font-size: 10px;
            margin-top: 10px;
            margin-left: 20px;
            text-align: right;
            color: var(--myMessageDetails);
          }
        }

        .message {
          display: flex;
          align-items: center;

          .messages {
            display: flex;
            align-items: center;

            .messageImg {
              width: 32px;
              height: 32px;
              border-radius: 50%;
              object-fit: cover;
              margin-right: 5px;
            }
            .msg_name {
              margin: 10px 0;
              color: var(--text-primary);

              .messageText {
                background-color: $b;
                padding: 10px;
                margin-top: 0;
                border-radius: 10px;
                color: black;
                min-width: 100px;
                font-size: 14px;
              }
            }
          }
          .messageDetails {
            font-size: 10px;
            color: rgb(19, 18, 14);
            margin-top: 10px;
            margin-left: 20px;
            text-align: right;
            color: rgb(110, 97, 97);
          }
        }
      }
    }

    .footer-chat-box {
      display: flex;
      align-items: center;
      height: 64px;
      background-color: var(--sidebar);
      border-radius: 15px;
      border: 1px solid var(--border);
      padding: 5px 20px;
      margin: 10px 10px 17px 0;
      form {
        display: flex;
        width: 100%;
        .picker {
          position: absolute;
          margin-top: -340px;
          .emoji-picker-react {
            width: 500px;
            border-radius: 15px;
          }
        }
        .emoji {
          width: 2em;
          height: 2em;
          margin: 2px;
          padding-top: 3px;
          color: gray;
          &:hover {
            cursor: pointer;
            color: rgb(5, 197, 5);
          }
        }
        input {
          flex: auto;
          border-radius: 30px;
          padding: 10px;
          margin: 0 10px;
          font-size: 15px;
          border: 1px solid gray;
          background-color: rgb(253, 253, 253);
        }

        button {
          border: none;
          font-size: 20px;
          color: var(--text-primary);
          background-color: inherit;
          &:hover {
            cursor: pointer;
            color: rgb(5, 197, 5);
          }
        }
      }
    }
  }

  @media (max-width: 640px) {
    .sidebar {
      display: none;
    }
    .menu {
      overflow: hidden;
      background-color: var(--sidebar);
      display: flex;
      width: 90vw;
      text-align: center;
      border-radius: 15px;
      border: 1px solid var(--border);
      margin: auto;
      padding: 1vh 0;

      //rooms
      .rooms_Dropdown {
        overflow: hidden;
        width: 50%;
        z-index: 2;
        cursor: pointer;

        .dropBtn {
          font-size: 16px;
          color: var(--text-primary);
          //padding: 0;
        }
        &:hover {
          //background-color: $a;
          .dropdown-content {
            display: block;
          }
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: var(--sidebar);
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          border: 1px solid var(--border);
          border-top: none;
          line-height: 30px;
          width: 44.4%;
          z-index: 1;
          ul {
            text-align: center;
            padding: 0 10px;
            .icon-notification {
              color: #b91646;
              padding-left: 10px;
            }
            li {
              list-style: none;
              color: var(--text-primary);
              &:hover {
                font-weight: bolder;
              }
            }
          }
        }
      }

      //online users
      .onlineUsers_Dropdown {
        overflow: hidden;
        width: 50%;
        z-index: 2;
        cursor: pointer;
        .dropBtn {
          font-size: 16px;
          color: var(--text-primary);
          //padding: 0;
        }
        &:hover {
          //background-color: $a;
          .dropdown-content {
            display: block;
          }
        }
        .dropdown-content {
          display: none;
          position: absolute;
          background-color: $b;
          border-bottom-right-radius: 15px;
          border-bottom-left-radius: 15px;
          line-height: 30px;
          width: 40%;
          max-height: 40%;
          overflow-y: scroll;
          width: 44.4%;
          border: 1px solid var(--border);
          background-color: var(--sidebar);
          padding-left: 0;
          margin-left: 0;
          border-top: none;

          ul {
            text-align: left;
            li {
              list-style: none;
              color: var(--text-primary);
              .message-notification {
                font-size: 10px;
                color: $a;
                border: 1px solid $a;
                border-radius: 50%;
                margin: 0 0 10px 10px;
                padding: 0 3px;
                text-align: center;
              }
            }
            &:hover {
              font-weight: bolder;
            }
          }
        }
      }
    }

    .container {
      max-height: 85vh;
      .chat-box {
        display: flex;
        .messages-box {
          overflow-y: scroll;
          overflow-x: hidden;
        }
      }
    }

    .picker {
      position: absolute;
      margin-bottom: 380px;

      .emoji-picker-react {
        height: 320px;
        max-width: 250px;
      }
    }
  }
}
